<!--
 * Created in PhpStorm
 * @author Brian Kiehn
 * @date 1/12/2020
 * @version 1.0
 * home.html
 * GreenRiverDev
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Round Earth Society</title>
</head>
<body>
    <header>
        <div class ="display-1">
            <p class="text-uppercase">It's Round</p>
        </div>
        <nav></nav>
    </header>
    <!-- main body -->
    <section class ="container-fluid">
        <div class ="row">
            <div class ="col">
                <h1>Welcome It's Round!</h1>
                <p>Welcome to the one and only dating site for round earthers!
                    We believe that it hard to find love in a world of flat earthers
                    finding the love of your life hard enough when the Main stream media is trying
                    to force the flat earth naritive down your throt.
                    Here, you don't have to worry about that. Just focus on finding the love of your life!
                </p>
                <h1>Don't take our word for it. Take theirs!</h1>
                <div id ="quote">
                    <p><q class><em>Can't trust the main stream media or NASA but you can trust this</em></q> - Bud</p>
                </div>
            </div>
            <div class ="row">
                <div class ="col">
                    <img class ="img-fluid rounded" src="images/globe.png"/>
                </div>
            </div>
        </div>
        <div class ="row border" id ="button">
            <div class ="col-2">
                <form action="form">
                    <button type="submit" class="rounded text-center">Create a Profile!</button>
                </form>
            </div>
        </div>
    </section>
</body>
</html>