/**
 * Created in PhpStorm
 * @author Brian Kiehn
 * @date 1/15/2020
 * @version 1.0
 * styles.css
 * GreenRiverDev
 */

/*Tags*/
body{
    background-color: #7abaff;
}

/*IDs*/
header #nav {
    border-bottom-color: #4e555b;
    background-color: #4e555b;
}

/*Classes*/
.card-header {
    background-color: #0069d9;
}

.card-body {
    background-color: aliceblue;
}

.card-footer {
    background-color: #7abaff;
}

.card {
    border-color: #7abaff;
}